# ==============================================================================
# Application
# ==============================================================================
APP_NAME=Sample FastAPI
APP_VERSION=0.1.0
APP_ENV=local
APP_LOG_LEVEL=DEBUG
APP_HOST=0.0.0.0
APP_PORT=8080

# ==============================================================================
# llm models - api keys
# ==============================================================================
OPENAI_API_KEY='your-api-key'
GEMINI_API_KEY='your-api-key'
XAI_API_KEY='your-api-key'

# ==============================================================================
# supabase
# ==============================================================================
SUPABASE_URL=https://vwwoppninqsgigxmswkv.supabase.co
SUPABASE_KEY='your-api-key'


# ==============================================================================
# LangSmith
# ==============================================================================
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=your-langchain-smith-api-key
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# ==============================================================================
# Hugging Face
# ==============================================================================
HF_TOKEN=your-huggingfasce-toekn


# ==============================================================================
# NAVER - News API
# ==============================================================================
NAVER_CLIENT_ID=your-client-id
NAVER_CLIENT_SECRET=your-secret